{% load static %}
{% load i18n %}

{% component "modal" modal_id="add-quicklink-modal" modal_class="" modal_title=_("Add Quicklink") modal_size="large" %}
    {% fill "body" %}
        <form id="add-quicklink-form" method="post" action="{% url 'add_quicklink' %}">
            {% csrf_token %}

            <div class="form-field">
                <label class="form-label" for="id_text">{% translate "Text" %}</label>
                <span class="form-input"><input type="text" name="text" id="id_text" required></span>
                <small class="form-hint">{% translate "The text of the quicklink" %}</small>
            </div>

            <div class="form-field">
                <label class="form-label" for="id_url">{% translate "URL" %}</label>
                <span class="form-input"><input type="url" name="url" id="id_url" required></span>
                <small class="form-hint">{% translate "The URL of the quicklink" %}</small>
            </div>

            <div class="form-field">
                <label class="form-label" for="id_materialIconRef">{% translate "Icon" %}</label>
                <span class="form-input">
                    <select name="materialIconRef" id="id_materialIconRef" required>
                        {% for icon_value, icon_name in form.materialIconRef.field.choices %}
                            asdf
                            <option value="{{ icon_value }}">
                                {{ icon_name }}
                            </option>
                        {% endfor %}
                    </select>
                </span>
                <small class="form-hint">{% translate "The icon for the quicklink" %}</small>
            </div>

            <div class="form-errors" style="display: none;">
                <h3>{% translate "Invalid input!" %}</h3>
                <div class="alert alert-danger">
                    <ul id="add-form-errors"></ul>
                </div>
            </div>
        </form>
    {% endfill %}

    {% fill "footer" %}
        <button type="button" class="button-secondary" data-modal-id="add-quicklink-modal"
                onclick="window.modalFunctions.hideModal('add-quicklink-modal')">{% translate "Cancel" %}
        </button>
        <button type="button" class="button-primary" id="save-quicklink-btn">{% translate "Add Quicklink" %}</button>
    {% endfill %}
{% endcomponent %}
