{% load static %}
{% load i18n %}

{% component "modal" modal_id="delete-quicklink-modal" modal_class="" modal_title=_("Delete Quicklink") modal_size="medium" %}
    {% fill "body" %}
        <!-- Note: This is not a django form. It is a simple form with a hidden input handled by javascript-->
        <form id="delete-quicklink-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="quicklink_id" id="delete-quicklink-id">

            <p>{% translate "Are you sure you want to delete this quicklink?" %}</p>
            <p><strong>{% translate "This action cannot be undone!" %}</strong> {% translate "The quicklink will be permanently removed from your dashboard." %}</p>

        </form>
    {% endfill %}

    {% fill "footer" %}
        <button type="button" class="button-secondary" data-modal-id="delete-quicklink-modal"
                onclick="window.modalFunctions.hideModal('delete-quicklink-modal')">{% translate "Cancel" %}
        </button>
        <button type="button" class="button-primary" id="confirm-delete-btn">{% translate "Delete" %}</button>
    {% endfill %}
{% endcomponent %}
